@media screen and (min-width: 768px) {
	#conteudo {    

		.quadro {

	    	#abertura, #encerramento, #pergunta {
	    		display: flex;
	    		align-items: center;
	    		flex-wrap: wrap;
	    		align-content: center;
	    	}

	    	#timer {
			    position: fixed;
			    top: 50px;
			    right: 0;
			    left: 0;

			    img {
			    	max-width: 45px;
			    	height: auto;
			    	display: inline-block;
			    	vertical-align: middle;
			    }

			    p {
			    	display: inline-block;
			    	padding-left: 20px;
			    }
		    }
	    }

	    .janela-whatsapp {
	    	display: flex;
    		align-items: center;
    		flex-wrap: wrap;
    		align-content: center;
	    }
	}
}

@media screen and (max-width: 767px) {
	h1 {
    	font-size: 40px;
	}

	h2 {
	    font-size: 25px;
	}

	h3 {
	    font-size: 20px;
	}

	#conteudo {    

		.quadro {

	    	#timer {
				
				p {
					margin-top: 10px;
					margin-bottom: 0;
				}
	    	}
	    }
	}
}

@media screen and (max-width: 639px) {
	.janela-whatsapp {

	    .topo-whatsapp {

			img {
				max-height: 20px !important;
			}
		}
	}
}