html, body {
    overflow-x: hidden;
    counter-reset: ordered-list;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p, ol, ul, li {
    font-family: "Open Sans";
    font-size: 18px;
    strong {
        font-family: "Open Sans bold";
    }
}

em {
    font-style: italic !important;
}

video{
    width: 100vw;
    height: 100vh;
}

.ps-relative{
    position: relative;
}
.ps-absolute{
    position: absolute;
}
.ps-fixed{
    position: fixed;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex-ctr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.d-none {
    display: none !important;
}
.d-flex {
    display: flex !important;
}
.d-initial {
    display: initial !important;
}
.justify-content-center {
    justify-content: center;
    
}
.align-items-center {
    align-items: center;
}
.bg-contain{
    background-size: contain;
}
.bg-cover{
    background-size: cover;
}
.mgn-auto{
    margin: auto;
}

#conteudo{    
    position: relative;
    height: 100vh;    
    width: 100vw;

    #btn_action{
        position: absolute;
        z-index: 99;
        height: auto;
        cursor: pointer;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        opacity: 1;        
        bottom: 130px;
        left: calc(50% - 65px);
        background: url('../imagens/play.png') no-repeat center center / contain; 

        &.pause{
        	background: url('../imagens/pause.png') no-repeat center center / contain; 
        }      

        &.player{
			width: 80px;
		    height: 80px;
		    opacity: 0.1;
		    bottom: 10px;

		    &:hover{
	            opacity: 1 !important;
	        }
        }
    }    

    #btn_next{
        position: absolute;
        z-index: 99;
        height: auto;
        cursor: pointer;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        opacity: 1;        
        bottom: 130px;
        left: calc(50% - 65px);
        background: url('../imagens/next.png') no-repeat center center / contain; 
    }
    
	.quadro{
		box-sizing: border-box;
		padding: 20px;		
	    background: url(../imagens/tela_abertura.png) no-repeat center center / cover;
        height: auto;
        min-height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    	left: 0;

    	&.question{
    		background: url(../imagens/tela_quiz.png) no-repeat center center / cover;
    	}


	    #abertura{  	        
        	border: 5px solid #FFF;
    	    min-height: 94vh;
    		height: auto;
		    display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    padding: 100px;

	        h1{
	        	color: #f5e600;
	        	font-size: 52px;     
	   		    font-family: "Open Sans bold";     	
	        }
	        
	        p{
	        	color: #FFF;
	        	font-family: "Open Sans";
	        	margin-top: 30px;
	        }

	        #btn_action {
	        	position: relative;
	    	    left: initial;
	    	    bottom: initial;
			    margin: 50px auto;
			    cursor: pointer;
			    border-radius: 50%;
			    width: 100px;
			    height: 100px;
			    opacity: 1;
			    background: url(../imagens/play.png) no-repeat center center/contain;
			}
	    }
		
		#encerramento{  	        
        	border: 5px solid #FFF;
    	    min-height: 94vh;
    		height: auto;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-wrap: wrap;
		    padding: 100px;

	        h1{
	        	color: #f5e600;
	        	font-size: 52px;     
	   		    font-family: "Open Sans bold";     	
	        }
	        
	        p{
	        	color: #FFF;
	        	font-family: "Open Sans";
	        	margin-top: 30px;
	        	font-size: 28px;
	        }	        
	    }

	    #timer{
	    	background-color: rgba(255, 255, 255, .5);
		    border-radius: 6px;
		    padding: 10px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin-bottom: 20px;

		    p{
		    	margin-left: 10px;
		    }		    
	    }

	    #pergunta{  
	        border: 5px solid #FFF;
    	    min-height: 94vh;
    		height: auto;
		    display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    padding: 70px;

		    #btn_rever{
				cursor: pointer;
		    	border-radius: 50%;    	
		        background: url('../imagens/rever.png') no-repeat center center / contain;
	            margin: auto;
                width: 70px;
    			height: 70px;
		    }	       
	        
	        #enunciado{     
	            color: #fff;    
	        }

	        #opcoes{
	            margin-top: 20px;

	            [id*='opcao']{
	                position: relative;
	                width: 90%;
	                background: rgba(255,255,255,.1);
	                padding: 10px 40px 10px 60px;
	                color: #FFF;
	                font-size: 32px;
	                line-height: 32px;
	                margin: 20px 0 20px 60px;
	                cursor: pointer;

	                &.watsapp{
	                    background-color: #d6fcc5;
	                    color: #202020;
	                    border-radius: 5px;
	                    padding: 15px 40px 15px 60px;

	                    &::before {
	                        content: "";                        
	                        width: 0;
	                        height: 0;
	                        position: absolute;
	                        top: -16px;
	                        right: -8px;
	                        border-top: 25px solid transparent;
	                        border-bottom: 25px solid transparent;
	                        border-left: 25px solid #d6fcc5;
	                        transform: rotate(-135deg);
	                        border-radius: 10px;
	                    }

	                    &::after {
	                        position: absolute;
	                        top: 0;
	                        left: 0;
	                        font-size: 21px;
	                        font-weight: bold;
	                        color: #FFF;
	                        line-height: 23px;
	                        border-radius: 20px;
	                        background-color: #5e338f;
	                        width: 30px;
	                        height: 30px;
	                        text-align: center;
	                        margin: 4px;
	                        padding: 2px;
	                    }

	                    p::after{
	                        content: "";
	                        width: 24px;
	                        height: 24px;
	                        position: absolute;
	                        right: 5px;
	                        bottom: 5px;
	                        background: url(../imagens/check.png) no-repeat center center / contain;
	                    }
	                }

	                p{
	                    font-size: 28px;
	                }

	                &::after {
	                    position: absolute;
	                    top: 0;
	                    left: -30px;
	                    font-size: 72px;
	                    font-weight: bold;
	                    color: #f5e600;
	                    line-height: 52px;
	                }
	            }

	            #opcao1::after {
	                content: "a.";                
	            }
	            #opcao2::after {
	                content: "b.";
	            }
	            #opcao3::after {
	                content: "c.";
	            }
	        }
	    }
	}
}






